{% extends 'base.html.twig' %}
{% block body %}
    {% block javascripts %}
        <script src="{{asset('JS/toast.js')}}" ></script>
        {% endblock %}
    <h1>{{ title }}</h1>
    {% if age is defined %}
        {% if age < 18 %}
            <p>Tu es mineur</p>
        {% elseif age>=18 %}
            <p>Tu es majeur</p>
        {% endif %}
    {% endif %}
    <!-- Gestion des erreurs de connexion -->

    {% for type, messages in app.flashes %}
        <div class="toast ml-auto" role="alert" aria-live="assertive" data-delay="4000" aria-atomic="true">
            <div class="toast-header">
                <strong class="mr-auto">Error</strong>
                <small class="text-muted">just now</small>
                <button type="button" class="ml-1 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="toast-body">
                <h2 class="text-danger"> </h2>
            </div>
        </div>
    {% endfor %}



{% endblock %}
